* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  font-size: 16px;
}

.h1 {
  font-weight: bold;
  font-size: 1.8rem;
}

.h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

.h3 {
  font-weight: bold;
  font-size: 1.4rem;
}

.h4 {
  font-weight: bold;
  font-size: 1.3rem;
}

.h5 {
  font-weight: bold;
  font-size: 1.2rem;
}

.fontFamilySora {
  font-family: "Sora", sans-serif;
}

.fontFamilyPoppins {
  font-family: "Poppins", sans-serif;
}

.active {
  font-weight: bold;
}

.header {
  min-height: 10vh;
}
.header .header-fixed {
  position: fixed;
  width: 100vw;
  background-color: #4A5667;
  color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.header .header-fixed .header-container {
  min-height: 10vh;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-fixed .header-container nav {
  width: 40%;
}
.header .header-fixed .header-container nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.header .header-fixed .header-container nav ul li a {
  text-decoration: none;
  color: inherit;
}
.header .header-fixed .header-container nav ul #appearance {
  cursor: pointer;
}
.header .header-dark {
  background-color: #4A5667;
  color: white;
}
.header .header-light {
  background-color: rgb(240, 240, 240);
  color: #4A5667;
}

.mainIndex {
  min-height: 80vh;
  background-color: #212329;
  color: white;
}
.mainIndex .mainBody {
  width: 70%;
  min-height: 80vh;
  margin: 0 auto;
  padding: 10vh 0 5vh 0;
}
.mainIndex .mainBody section {
  margin: 0 0 50px 0;
}
.mainIndex .mainBody section h3 {
  margin: 50px 0 0 0;
}
.mainIndex .mainBody section h4 {
  margin: 30px 0 0 0;
  font-size: 1rem;
}
.mainIndex .mainBody section p {
  margin: 15px 0;
}
.mainIndex .mainBody section ol li {
  margin: 25px 0 25px 15px;
}
.mainIndex .mainBody section ol li a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
.mainIndex .mainBody section code, .mainIndex .mainBody section .codeInline {
  display: block;
  margin: 15px 0;
  padding: 15px;
  background-color: #161B22;
  color: white;
  border-radius: 15px;
}
.mainIndex .mainBody section .codeInline {
  display: inline;
  margin: 0;
  padding: 2px;
  border-radius: 0;
}
.mainIndex .mainBody section .highlight {
  background-color: rgb(66, 66, 13);
}
.mainIndex .mainBody section .strong {
  font-weight: bold;
}

.main-dark {
  background-color: #212329;
  color: white;
}

.main-light {
  background-color: white;
  color: #4A5667;
}

.footer {
  min-height: 10vh;
  background-color: #212329;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  color: white;
}
.footer .footerContainer {
  min-height: 10vh;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footerContainer .footerName {
  color: inherit;
  font-weight: bold;
  font-size: 0.9rem;
}
.footer .footerContainer .footerLogos {
  color: inherit;
  font-size: 1.3rem;
}
.footer .footerContainer .footerLogos a {
  color: inherit;
  margin: 0 0 0 20px;
}

.footer-dark {
  background-color: #4A5667;
  color: white;
}

.footer-light {
  background-color: rgb(240, 240, 240);
  color: #4A5667;
}

/*# sourceMappingURL=main.css.map */
