.footer {
    min-height: 10vh;
    background-color: #212329;
    border-top: 1px solid rgba(128, 128, 128, 0.50);
    color: white;
    .footerContainer {
        min-height: 10vh;
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footerName {
            color: inherit;
            font-weight: bold;
            font-size: 0.9rem;
        }
        .footerLogos {
            color: inherit;
            font-size: 1.3rem;
            a {
                color: inherit;
                margin: 0 0 0 20px;
            }
        }
    }
}

.footer-dark {
    background-color: #4A5667;
    color: white;
}

.footer-light {
    background-color: rgb(240, 240, 240);
    color: #4A5667;
}