* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    font-size: 16px;
}

.h1 {
    font-weight: bold;
    font-size: 1.8rem;
}
.h2 {
    font-weight: bold;
    font-size: 1.5rem;
}
.h3 {
    font-weight: bold;
    font-size: 1.4rem;
}
.h4 {
    font-weight: bold;
    font-size: 1.3rem;
}
.h5 {
    font-weight: bold;
    font-size: 1.2rem;
}

.fontFamilySora {
    font-family: 'Sora', sans-serif;
}

.fontFamilyPoppins {
    font-family: 'Poppins', sans-serif;
}

.active {
    color: white!important;
}